.projectCard {
    width: 40vw;
}

.projectImage {
    width: 40vw;
    border-radius: 12px 12px 0% 0%;
}

.projectCardTitle {
    background-color:rgb(17, 17, 17);
}

.projectCardTitleLinks {
  position: relative;
}

.projectImageHolder {
    height: auto
}

.githubIconImage {
    position: absolute;
    left: -5.5vw;
    width: 2vw;
    top: -1.5vh;
}

.linkIconImage {
    position: absolute;
    left: -3vw;
    width: 2vw;
    top: -1.6vh;
}

.githubIconImage:hover {
    cursor: pointer;
}

.linkIconImage:hover {
    cursor: pointer;
}

.projectCardTitleHolder {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.projectCardTitleTechsHolder {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-top: .8em
}

.javascriptHolder {
    color: rgb(211, 201, 201);
    background-color: rgba(206, 65, 65, 1);
    border-radius: 7px;
}

.mongoDBHolder {
    color: rgb(201, 202, 211);
    background-color: rgb(65, 67, 206);
    border-radius: 7px;
}

.reactHolder {
    color: rgb(201, 202, 211);
    background-color: rgb(158, 147, 47);
    border-radius: 7px;
}

.nodeJSHolder {
    color: rgb(201, 202, 211);
    background-color: rgb(97, 15, 79);
    border-radius: 7px;
}

.mySQLHolder {
    color: rgb(201, 202, 211);
    background-color: rgb(15, 97, 29);
    border-radius: 7px;
}


.projectCardTitleName > h1 {
    color: white;
    padding: .2em 0em 0em 1em;
    margin: 0em
} 

.projectCardTitleTechsHolder > div > h4 {
    padding: .2em .8em;
    margin: 0em
}

.projectCardText {
    background-color: rgb(17, 17, 17);
    border-top: solid 1px rgb(78, 78, 78);
    border-radius: 0px 0px 12px 12px;
}

.projectCardText > h4 {
    color: rgb(124, 124, 124);
    padding: 1em;
    margin: 0
}

@media screen and (max-width: 1100px) {
    .projectCardTitleTechsHolder {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: .8em;
        padding-bottom: .5em;
        padding-left: 2em;
        padding-top: .8em
    }
}

@media screen and (max-width: 875px) {
    .projectCardTitleTechsHolder {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: .7em;
        padding-bottom: .5em;
        padding-left: 2em;
        padding-top: .8em
    }
}
