.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(71, 71, 71);
}

.navBarComponents {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-right: 5vw;
    color: white;
}

.logo {
    width: 5vw;
    margin-left: 1vw;
}