.fade-in-section {
  opacity: 0;
  /* visibility: hidden; */
  transition: opacity .5s ease-out;
  will-change: opacity;
}
.fade-in-section.is-visible {
  opacity: 1;
  /* transform: none; */
  /* visibility: visible; */
}

/* .fade-in-section.is-not-visible {
  opacity: 0;
} */