.aboutMeHolder {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* width: 75%; */
}

.aboutMeTextHolder {
    width: 50%; 
}

.aboutMeTitle {
    color: white;
}

.aboutMeText {
    width: 100%;
}

.aboutMeText > h4 {
    color: white;
    color: rgb(124, 124, 124);
}

.aboutMeText > h4 > span {
    color: rgb(91, 223, 91)
}

.aboutMeImage > img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeImage {
    margin-left: 5vw;
    width: 50%
    /* display: flex;
    justify-content: center; */
}